@font-face {
    font-family: Impact;
    src: url("fonts/Impact.ttf");
}
@font-face {
    font-family: Road_rage;
    src: url("fonts/Road_Rage.otf");
}
body,html,*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
}
.carta{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #000;
}
.carta-sin-icon{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #000;
}
.deseosPeruanos{
    background-color: #ff5d05;
}
.desayuno{
    background-color: #ddd4cc;
}
.almasVeganas{
    background-color: #27ffb0;
}
.smokesDragon{
    background-color: #ec1919;
}
.originalsBurger{
    background-color: #a000e5;
}
.cocktels{
    background-color: #bbd6e2;
}
.bebidas{
    background-color: #ff4c2d;
}
.postres{
    background-color: #e5ce00;
}
.impact{
    font-family: Impact;
}
.road-rage{
    font-family: Road_rage;
}
.item{
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction:column;
    align-items: center;
}
.item-title{
    font-size: 5em;
    text-transform: uppercase;
}
.item-slogan{
    font-size: 3em;
    text-transform: uppercase;
}

.icon{
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.desayuno .icon{
    background-image: url("images/coffe.png");
}
.deseosPeruanos .icon{
    background-image: url("images/deseos-peruanos.png");
}

.almasVeganas .icon{
    background-image: url("images/almas-veganas.png");
}

.smokesDragon .icon{
    background-image: url("images/smokes-dragon.png");
}

.originalsBurger .icon{
    background-image: url("images/originals-burger.png");
}

.cocktels .icon{
    background-image: url("images/cocktails.png");
}
.bebidas .icon{
    background-image: url("images/deseos-peruanos.png");
}
.postres .icon{
    background-image: url("images/deseos-peruanos.png");
}

@media only screen and (max-width: 600px) {
    body{
        padding: 0;
    }
    .container{
        padding: 0;
        margin: 0;
    }
    .item-title{
        font-size: 3em;
    }
    .item-slogan{
        font-size: 1.7em;
    }
}

.azul{
    color: #194ebb;
}
.marron{
    color: #5b1f00;
}
.marronClaro{
    color: #9a5933;
}
.gris{
    color: #4e4e4e;
}
.grisClaro{
    color: #ededed;
}
.amarillo{
    color: #ffde00;
}
.verde{
    color: #00fc5f;
}
.verdeOscuro{
    color: #00b646;
}